$light-background: #f5f5fa;
$main-color: #323264;
$main-alt-color: #46466e;
$accent-color: #f0145a;
$primary-light-color: #fff;
$active-regular-color: #24a3ff;
$secondary-text-color: #b3b3ba;
$separator-color: #e6e6f0;


$primary-font: "Montserrat", Helvetica, sans-serif;
$primary-font-weight: 400;
$secondary-font-weight: 700;

$mobile-wrapper: 345px;
$tablet-sd-wrapper: 678px;
$tablet-hd-wrapper: 934px;
$desktop-sd-wrapper: 1350px;
$desktop-hd-wrapper: 1630px;
